.topbar
  .fill
    .container
      %a(href="/" class="brand") Procon
      - if current_user
        .row.pull-right
          .span2
            %a(href="/logout" method="delete" class="btn small pull-right") Logout
      - else
        %form(accept-charset="UTF-8" action="/login" class="pull-right" method="post")
          %input(class="input-small" id="username" name="username" placeholder="Username" type="text")
          %input(class="input-small" id="password" name="password" placeholder="Password" type="password")
          %button(class="btn" name="button" type="submit") Log in

