!!!
%html
  %head
    %title Procon
    %link(href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="/css/application.css" media="screen" rel="stylesheet" type="text/css")
    %script(src="http://code.jquery.com/jquery-1.9.0.min.js" type="text/javascript")
    %script(src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js" type="text/javascript")
    %script(src="/js/ko_custom_bindings.js" type="text/javascript")
    %script(src="/js/dilemmas_helper.js" type="text/javascript")
    %script(src="/js/dilemma.js" type="text/javascript")
    %script(src="/js/dilemmas.js" type="text/javascript")
  %body
    = partial "header"
    .container
      .content
        = content

