/- javascript "dilemmas/index"

.page-header
  %h1= "Pros and Cons of being #{current_user.username}!"

#dilemmas{style: "display: none;"}
  .row
    .offset1
      %h2 Your dilemmas
      %ul{"data-bind" => "foreach: dilemmas, visible: dilemmas().length > 0"}
        %li
          %a{href: "#", "data-bind" => "text: name, click: $parent.edit_dilemma"}
          %span{"data-bind" => "text: pros().length + ' vs ' + cons().length"}
          %a{href: "#", class: "delete", style: "display: none;",
          "data-bind" => "click: $parent.delete_dilemma"} delete
      %input{"data-bind" => "value: new_dilemma, valueUpdate: 'afterkeydown', executeOnEnter: add_dilemma", id: "name", name: "name", placeholder: "Your new dilemma", type: "text"}
      %button{class: "btn success", "data-bind" => "click: add_dilemma", name: "button", type: "submit"} Add!

#edit-dilemma{"data-bind" => "template: {name: 'edit-template'}"}

%script{id: "edit-template", type: "text/html"}
  %h2{"data-bind" => "text: name"}
  .row
    .span6.offset1
      %h2 Pros
      %ul.pros{"data-bind" => "foreach: pros, visible: pros().length > 0"}
        %li
          %span{"data-bind" => "text: text"}
          %a{href: "#", class: "delete", style: "display: none;",
          "data-bind" => "click: $parent.delete_pro"} delete

    .span6
      %h2 Cons
      %ul.cons{"data-bind" => "foreach: cons, visible: cons().length > 0"}
        %li
          %span{"data-bind" => "text: text"}
          %a{href: "#", class: "delete", style: "display: none;",
          "data-bind" => "click: $parent.delete_con"} delete
    .row
      .span8.offset3
        %input{"data-bind" => "value: new_reason, valueUpdate: &quot;afterkeydown&quot;", id: "", placeholder: "A good/bad reason", tabindex: "1", type: "text"}
        %button{class: "btn success", "data-bind" => "click: add_pro, enable: new_reason().length &gt; 0", name: "button", tabindex: "2", type: "submit"} Pro
        %button{class: "btn danger", "data-bind" => "click: add_con, enable: new_reason().length &gt; 0", name: "button", tabindex: "3", type: "submit"} Con
        %button{class: "btn", "data-bind" => "click: add_both, enable: new_reason().length &gt; 0", name: "button", tabindex: "4", type: "submit"} Both?
        .actions
          %button{class: "btn primary", "data-bind" => "click: save_dilemma", name: "button", tabindex: "5", type: "submit"} Save
          %button{class: "btn", "data-bind" => "click: cancel_edit", name: "button", tabindex: "6", type: "submit"} Back

