.page-header
  %h1 Log in!
.row
  .span8.offset3
    %form(accept-charset="UTF-8" action="/login" method="post")
      %fieldset
        .clearfix
          %label(for="username") Username
          .input
            %input(id="username" name="username" type="text")
        .clearfix
          %label(for="password") Password
          .input
            %input(id="password" name="password" type="password")
        .actions
          %input(class="btn primary" name="commit" type="submit" value="Log in")
          %a(href="/signup" class="btn") Register

